@media only screen and (max-width: 1280px) {

	/*-- Header --*/

	.header .col-2 {
	    width: 34%;
	}

	.header .col-3 {
	    width: 39%;
	}

	/*-- /Header --*/

	/*-- Section 2 Good Page --*/

	.use-descripts {
	    padding: 0 80px 0 0;
	}

	/*-- /Section 2 Good Page --*/

	/*-- Section 3 Good Page --*/

	.video-box {
	    width: 899px;
	    height: 634px;
	    margin: -35px auto 0 auto;
	}

	.video-box .inner {
	    width: 550px;
	    height: 393px;
	    top: 83px;
	    left: 280px;
	}

	.video-box iframe {
	    width: 549px;
	    height: 392px;
	}

	/*-- /Section 3 Good Page --*/

}


@media only screen and (max-width: 1024px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.header .col-1 {
	    width: 13%;
	}

	.logo {
	    max-width: 90px;
	}

	.header .col-2 {
	    width: 38%;
	    padding: 0 0 0 2%;
	}

	.header .col-3 {
	    width: 39%;
	    text-align: right;
	}

	.tel-link {
	    margin: 5px 9px;
	    font-size: 18px;
	    line-height: 21px;
	}

	.main-nav {
	    margin: 0;
	}

	.main-nav li {
	    padding: 5px 9px;
	}

	.main-nav li {
	    padding: 5px 9px;
	}

	.main-nav li a {
	    font-size: 22px;
	    line-height: 22px;
	}

	/*-- /Header --*/

	/*-- Section 1 Good Page --*/

	.card-block {

	}

	.card-block .inner {

	}

	.card-block .inner .col-2 {
		float: none;
		width: 100%;
	}

	.card-block .inner .col-1 {
		float: none;
		width: 100%;
	}

	.good-slider {
	    width: 100%;
	    height: 570px;
	    margin: 0;
	}

	.choise-box {
	    display: inline-block;
	    vertical-align: top;
	    margin: 12px 2% 12px 0;
	}

	.select-box {
		padding: 5px 0 0 0;
	}

	/*-- /Section 1 Good Page --*/

	/*-- Section 2 Good Page --*/

	.two-cols-box .col-1,
	.two-cols-box .col-2 {
		display: block;
		width: 100%;
		padding: 0;
	}

	.two-cols-item .col {
	    display: table-cell;
	    vertical-align: top;
	    /*width: auto;*/
	}

	/*-- /Section 2 Good Page --*/

	/*-- Section 3 Good Page --*/

	.video-box {
	    width: 866px;
	    height: 611px;
	}

	.video-box .inner {
	    width: 498px;
	    height: 350px;
	    top: 101px;
	    left: 280px;
	}

	.video-box iframe {
	    width: 498px;
	    height: 350px;
	}

	/*-- /Section 3 Good Page --*/

}

@media only screen and (max-width: 900px) {

	/*-- Header --*/

	.header {
	    padding: 3px 0 10px 0;
	}

	.header .col-2 {
	    width: 46%;
	}

	.header .col-3 {
	    width: 29%;
	}

	.header .col-4 {
	    width: 12%;
	    text-align: right;
	}

	/*-- /Header --*/

	/*-- Section 1 Catalog Page --*/

	.choise-block h2 {
	    font-size: 64px;
	    line-height: 65px;
	}

	.choise-form-block {
	    margin: 15px 0;
	}

	.choise-form-block .checkbox-block {
	    width: auto;
	    margin: 20px 6px 10px 2px;
	}

	.range-slide-box {
	    width: 100%;
	}

	/*-- /Section 1 Catalog Page --*/

	/*-- Mosaik --*/

	.grid-sizer {
	    width: 49.6%;
	}

	.mosaik-thumbnails .thumbnail {
	    width: 49.6%;
    }

	/*-- /Mosaik --*/

	/*-- Section 3 Good Page --*/

	.video-box {
	    width: 705px;
	    height: 494px;
	}

	.video-box .inner {
	    width: 413px;
	    height: 302px;
	    top: 68px;
	    left: 223px;
	}

	.video-box iframe {
		width: 413px;
		height: 301px;
	}

	/*-- /Section 3 Good Page --*/

	/*-- Section 1 Bsket Page --*/

	.bascket-header .cell-1,
	.bascket-row .cell-1 {
	    width: 17%;
	}

	.bascket-header .cell-2,
	.bascket-row .cell-2 {
	    width: 19%;
	}

	.bascket-header .cell-3,
	.bascket-row .cell-3 {
	    width: 15%;
	}

	.bascket-header .cell-4 ,
	.bascket-row .cell-4 {
	    width: 23%;
	    padding: 0 1% 0 2%;
	    text-align: right;
	}

	.bascket-header .cell-5,
	.bascket-row .cell-5 {
	    width: 15%;
	}

	.bascket-header .cell-6,
	.bascket-row .cell-6 {
	    width: 11%;
	}

	.bascket-row .cell-2 p {
		font-size: 16px;
		line-height: 17px;
	}

	.bascket-row .cell-3 p input {
	   font-size: 26px;
	    line-height: 29px;
	}

	.bascket-row .cell-5 p input {
	   font-size: 26px;
	    line-height: 29px;
	}

	/*-- .Section 1 Bsket Page --*/

}


@media only screen and (max-width: 768px) {

	/*-- Header --*/

	.wrapper {
		padding-top: 84px;
	}

	.header {
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .2);
	}

	.header .col-1 {
	    width: 19%;
	}

	.header .col-2 {
	    width: 15%;
	}

	.header .col-3 {
	    width: 51%;
	}

	.header .col-4 {
	    width: 15%;
	}

	.respmenubtn-box {
		display: inline-block;
		vertical-align: bottom;
		width: 100%;
	}

	.main-nav-block {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 12;
		padding: 20px 2%;
		background: rgba(255, 255, 255, .9);
	}

	.main-nav {
		text-align: center;
	}

	.main-nav li {
		display: block;
		width: 100%;
	}

	.main-nav li a {
		display: block;
		font-size: 28px;
		line-height: 30px;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.promo-sect {
		padding-top: 113px;
	}

	h1 {
	    font-size: 66px;
	    line-height: 68px;
	}

	.h1-descript {
	    max-width: 532px;
	    font-size: 20px;
	    line-height: 30px;
	}

	.white-pill {
	    min-width: 190px;
	    margin: 15px 0;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.main-slider-box {
	    height: 439px;
	    width: 98%;
	    margin: 0 auto;
	}

	.main-slider {
	    height: 385px;
	}

	.main-slider .promo-block .promo-block-content {
	    height: 325px;
	}

	.block-content {
	    height: 345px;
	}

	.bottom-block {
	    bottom: 20px;
	    padding: 0 0 10px 3.5%;
	}

	.main-slider-box .swiper-slide-active {
	    -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.2);
	    -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.2);
	    box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.2);
	}

	.main-slider-box .swiper-pagination-bullets {
		bottom: 90px;
		left: -35px;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.advantages-thumbnails .thumbnail {
	    width: 50%;
	    padding: 0 4% 15px 13px;
	}

	.advantages-thumbnails .p-1 {
	    font-size: 20px;
	    line-height: 24px;
	}

	.advantages-thumbnails .icon-box {
	    overflow: hidden;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Contacts --*/

	.contacts-thumbnails .thumbnail {
		width: 50%;
	}

	.contacts-thumbnails {
	    padding: 5px 0 4px 0;
	}

	.contacts-th-contacts .p-1 {
	    font-size: 25px;
	    line-height: 28px;
	}

	.contacts-thumbnails .thumbnail {
	    padding: 20px 4% 25px 0;
	}

	/*-- /Contacts --*/

	/*-- Section 1 Catalog Page --*/

	.choise-block {
	    padding: 20px 3%;
	    border: 15px solid #ffffff;
	}

	.choise-block h2 {
	    font-size: 56px;
	    line-height: 57px;
	}

	.good-thumbnail {
	    margin: 5px 0 30px 0;
	}

	.goods-thumbnails .good-thumbnail {
	    width: 50%;
	}

	/*-- /Section 1 Catalog Page --*/

	/*-- Mosaik --*/

	.mosaik-box {
	    margin: 16px 0 26px 0;
	}

	.grid-sizer {
	    width: 49.5%;
	    min-width: 270px;
	}

	.mosaik-thumbnails .thumbnail {
	    width: 49.5%;
	    min-width: 270px;
    }

	/*-- /Mosaik --*/

	/*-- Section 1 Blog Inner --*/

	.blog-slider .slide {
	    height: 380px;
	    border: 15px solid #ffffff;
	}

	.blog-slider-pagination {
	    bottom: 13px;
	}

	.blog-slider-pagination .slick-dots {
		padding: 10px 0;
	}

	.slick-dots li {
	    width: 20px;
	    height: 20px;
	}

	/*-- /Section 1 Blog Inner --*/

	/*-- Section 1 Good Page --*/

	.good-slider {
	    width: 100%;
	    height: 370px;
	    margin: 0;
	}

	.good-slider .slide {
		overflow: hidden;
		height: 370px;
	}

	.good-slider .slide img {
	    width: 100%;
	    height: auto;
	}

	.choise-box {
	    margin: 5px 2% 5px 0;
	}

	/*-- /Section 1 Good Page --*/

	/*-- Section 3 Good Page --*/

	.video-box {
	    width: 100%;
	    height: 360px;
	    margin: 30px 0;
	    background: none;
	}

	.video-box .inner {
		width: 98%;
		max-width: 446px;
		height: 332px;
	    margin: 0 auto;
	    top: 0;
	    left: 0;
	}

	.video-box iframe {
		width: 98%;
	    max-width: 446px;
	    height: 332px;
	}

	/*-- /Section 3 Good Page --*/

	/*-- Section 1 Bsket Page --*/

	.good-card .good-card-item:nth-child(1) {
	    border: 15px solid #ffffff;
	}

	.good-card .bascket-sect {
	    padding: 26px 1% 30px 1%;
	}

	.choise-count {
	    width: 100px;
	}

	.choise-count button[type="button"] {
	    width: 22px;
	}

	.bascket-row.total-row .cell-1 {
	    width: 71%;
	}

	.bascket-row.total-row .cell-2 {
	    width: 18%;
	}

	.good-card .good-card-item {
	    border: 15px solid #ffffff;
	    padding: 26px 1% 18px 1%;
	}

	.form-box .col-1 {
	    width: 100%;
	    padding: 0;
	}

	.form-box .col-2 {
	    width: 100%;
	    padding: 14px 3% 0 0;
	}

	.radio_btns-block {
	    padding: 0 0 12px 0;
	}

	.radio_btns-block h3 + .radio-box {
	    margin: 13px 0 0 0;
	}

	/*-- .Section 1 Bsket Page --*/

	/*-- Popups --*/

	.popup {
		max-height: 91vh;
	    padding: 16px 2.6%;
	    border: 15px solid #ffffff;
	}

	.popup h2 {
	    padding: 0 0 10px 0;
	}

	.popup .radio_btns-block {
	    padding: 15px 0 10px 0;
	}

	.popup .card-btns {
	    margin: 0 0 8px 0;
	}

	.popup .card-btns  .transparent-pill {
	    margin: 5px;
	    padding: 10px 1%;
	}

	.popup .card-btns a.white-pill,
	.popup .card-btns button.white-pill {
	    margin: 8px 5px 7px 5px;
	}

	.popup .card-btns .white-pill span {
	    padding: 5px 1% 4px 1%;
	    top: -4px;
	}

    /*-- /Popups --*/

}

@media only screen and (max-width: 600px) {

	h1 {
	    font-size: 59px;
	    line-height: 60px;
	}

	h2 {
	    font-size: 43px;
	    line-height: 53px;
	}

	/*-- Section 1 Main Page --*/

	.promo-sect {
		padding-top: 79px;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.main-slider-box .swiper-pagination-bullets {
		bottom: 62px;
		left: -4px;
	}

	.main-slider-box span.swiper-pagination-bullet {
	    width: 20px;
	    height: 20px;
	}

	.promo-block {
		border: 12px solid #ffffff;
	}

	.main-slider .promo-block .promo-block-content {
	    height: 361px;
	}

	.promo-block .promo-block-content .bottom-block {
	    width: 100%;
	    padding: 0 0 15px 3.5%;
	}

    /*-- /Section 2 Main Page --*/

    /*-- Mosaik --*/

	.grid-sizer {
	    width: 98%;
	}

	.mosaik-thumbnails .thumbnail {
	    width: 98%;
    }

	/*-- /Mosaik --*/

	/*-- Section 1 Good Page --*/

	.good-slider {
	    height: 310px;
	}

	.good-slider .slide {
		height: 310px;
	}

	.card-block .col-1 {
	    width: 42%;
	    padding: 5px 0 0 12px;
	}

	.card-block .price-box {
	    left: 6px;
	}

	.card-btns {
	    margin: 31px 0;
	}

	.transparent-pill {
	    margin: 24px 5px;
	    padding: 15px 1%;
	}

	.card-btns a.white-pill,
	.card-btns button.white-pill {
	    margin: 11px 5px 7px 5px;
	}

	.white-pill span {
	    padding: 9px 1%;
	    top: -5px;
	}

	/*-- /Section 1 Good Page --*/

	/*-- Footer --*/

	.footer {
	    padding: 0 0 5px 0;
	}

	.footer .bottom-row .col-1,
	.footer .bottom-row .col-2 {
		width: 100%;
		text-align: center;
	}

	.footer p {
		padding: 7px 0;
	}

	.footer .bottom-row .col {
	    padding: 0 0 5px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

	h1 {
	    font-size: 52px;
	    line-height: 54px;
	}

	h2 {
	    font-size: 40px;
	    line-height: 43px;
	}

	/*-- Header --*/

	.header {
	    padding: 2px 0 3px 0;
	}

	.header .col {
		vertical-align: middle;
	}

	.header .col-1 {
	    width: 23%;
	    padding: 0 0 0 2%;
	}

	.header .col-3 {
	    width: 48.5%;
	}

	.header .col-4 {
	    width: 13.5%;
	}

	.tel-link {
	    font-size: 13px;
	    line-height: 13px;
	}

	.call-back-btn {
	    margin: 5px 10px;
	    padding: 4px 7px;
	    font-size: 13px;
	    line-height: 13px;
	}

	.bascket-icon {
	    display: block;
		width: 40px;
		height: 34px;
		position: relative;
		top: -10px;
	}	

	.count-bascket-googds {
	    top: 17px;
	    z-index: 2;
	}

	.count-bascket-googds .inner-circle {
	    top: -3px;
	}

	/*-- /Header --*/

	/*-- Section 1 Main Page --*/

	.h1-descript {
	    font-size: 20px;
	    line-height: 27px;
	}

	.float-img-box {
	    width: 315px;
	    height: 268px;
	    left: initial;
	    top: 34%;
	    right: 0;
	    margin: initial;
	}

	/*-- /Section 1 Main Page --*/

	/*-- Section 2 Main Page --*/

	.promo-block .bottom-block p {
		font-size: 16px;
		line-height: 20px;
	}

	.main-slider p.good-price {
	    font-size: 28px;
	    line-height: 34px;
	}

	.promo-block .desktop-img {
		display: none;
	}

	.promo-block .resp-img {
		display: block;
	}

	/*-- /Section 2 Main Page --*/

	/*-- Section 3 Main Page --*/

	.advantages-thumbnails .thumbnail {
	    width: 100%;
	    padding: 0 1% 15px 1%;
	}

	.advantages-thumbnails .icon-box {
	    height: 262px;
	}

	/*-- /Section 3 Main Page --*/

	/*-- Section 4 Main Page --*/

	.feedback-sect {
	    padding: 5px 0 14px 0;
	}

	/*-- /Section 4 Main Page --*/

	/*-- Contacts --*/

	.contacts-thumbnails .thumbnail {
		width: 100%;
		padding: 10px 2%;
		text-align: center;
	}

	/*-- /Contacts --*/

	/*-- Section 1 Catalog Page --*/

	.choise-block h2 {
	    font-size: 39px;
	    line-height: 40px;
	}

	.noUi-value .text_val {
		display: block;
	    font-size: 13px !important;
	    line-height: 14px !important;
	}

	.noUi-pips-horizontal {
	    padding: 6px 0 10px 0 !important;
	}

	/*-- /Section 1 Catalog Page --*/

	/*-- Section 2 Catalog Page --*/

	.goods-thumbnails .good-thumbnail {
	    width: 90%;
	    display: block;
	    margin: 20px auto;
	    text-align: center;
	    border-bottom: 1px solid #dfdfdf;
	}

	/*-- /Section 2 Catalog Page --*/

	/*-- Mosaik --*/

	.grid-sizer {
	    width: 100%;	}

	.mosaik-thumbnails .thumbnail {
	    width: 100%;
    }

	/*-- /Mosaik --*/

	/*-- Section 1 Blog Inner --*/

	.blog-slider img.desktop-img {
	    display: none;
	}

	.blog-slider img.resp-img {
	    display: block;
	}

	/*-- /Section 1 Blog Inner --*/

	/*-- Section 1 Good Page --*/

	.card-block {
	    border: 15px solid #ffffff;
	}

	.card-block .col-2 {
	    padding: 12px 0 0 0;
	}

	.good-slider {
	    height: 260px;
	}

	.good-slider .slide {
		height: 260px;
	}

	.good-slider-pagination {
	    padding: 10px 37px 10px 0;
	}

	.card-block h1 {
	    font-size: 44px;
	    line-height: 46px;
	}

	.select2-container {
	    min-width: 230px !important;
	}

	/*-- /Section 1 Good Page --*/

	/*-- Section 1 Good Page --*/

	.card-block-sect {
	    padding: 30px 0 24px 0;
	}

	.photos-slider .slide {
	    height: 310px;
	}

	.photos-slider-box {
	    border: 15px solid #ffffff;
	}

	.photos-slider img.desktop-img {
	    display: none;
	}

	.photos-slider img.resp-img {
	    display: block;
	}

	/*-- /Section 1 Good Page --*/

	/*-- Section 2 Good Page --*/

	.bottom-shadow .row {
	    padding-bottom: 20px;
	}

	.two-cols-item h3 {
	    font-size: 23px;
	    line-height: 23px;
	}

	.two-cols-item .item-col {
		display: block;
		text-align: center;
	}

	.two-cols-item .item-col-1 {
		width: 100%;
	    padding: 10px 0px 20px 0;
	}

	.two-cols-item .icon-box {
	    width: 100px;
	    height: 100px;
	    margin: 6px auto;
	    padding: 0;
	}

	.use-descripts li {
	    margin: 20px 20px 10px 20px;
	}

	.use-descripts .tooltip {
	    min-width: 160px;
	    top: -23px;
	}

	.use-descripts li .tooltip.visibility {
	    top: -37px;
	}

	/*-- /Section 2 Good Page --*/

	/*-- Popups --*/

	.popup {
		padding: 12px 2.3%;
	}

	.popup h2 {
		font-size: 38px;
		line-height: 42px;
	}

	/*-- /Popups --*/

}

@media only screen and (min-width: 769px) {

	.wrapper {
		padding-top: 0;
	}

	/*-- Header --*/

	.main-nav-block {
		display: block !important;
		height: auto !important;
	}

	/*-- /Header --*/

}